<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TranscriptExtractor.Ui</title>
    <link rel="stylesheet" href="~/TranscriptExtractor.Ui.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <a asp-page="/Index">Dashboard</a>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>
</body>
</html>
